<!-- Info Modal -->
.modal.fade#infoModal
    .modal-dialog(role='document')
        .modal-content.rounded-0
            .modal-header
                h5='Info'
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden=true) &times;
            .modal-body
                div=`For convenience there is a capability to log out`
<!-- Info Modal end -->