themeColor=white
navSize=30px
body
  background-image: url(/images/background.png)
  height: 100vh
header
  font-size: 23px
  background-color: themeColor
form
  background-color: themeColor
.login
  width: 400px
.register, .profile
  width: 600px
.nav-icon
  width: navSize
  height: navSize